# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.iml
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# PyGTK specific
*.pygobject
*.pyo
